#load_pages{
    display:flex;
    flex-direction: column;
    width:90%;
    height:90%;
    margin:10px;
    justify-content: center;
    position: relative;
    z-index: -10;
    top:200px;
    left: 5%;
}

button{
    position:relative;
    left:35%;
    width:30%;
    height:50px;
    margin:5px;
    background-color: #336633;
    border:0px;
    color:white;
}
button:hover{
    background-color: #73AD21;
}
object{

    width:90%;
    left:5%;
    height:1500px;
}
