.flex-container {
    display:flex;
    flex-direction: column;
    width:60%;
    height: 60%;
    margin:10px;
    justify-content: center;
    position: relative;
    z-index: -10;
    top: 80px;
    left: 18%;
}
.flex-container > section{
    margin-bottom:10px;
}
.main-idea{
    background-color: #f1f1f1;
    padding:10px;
    
    
    font-family: Verdana;
}
.more-info-link > a{
    color:#73AD21;
    text-decoration: none;
}
.main-idea > h2{
    color:#73AD21;
    
}
