h2:hover{
    color: #73AD21;
}
.container{
    background-color: white;
    margin: 5% auto 5% auto;
    width:60%;
    height:200px;
    border: 1px solid #73AD21;
    border-collapse: collapse;
    font-family: Verdana;
}
th{
    background-color: #73AD21;
    color:white;
    width: 20%;
    padding:15px;
    text-align: center;
}
p{
    padding:15px;
    text-align: justify;
}