.UserData{
    background-color: white;
    margin: 15% auto 15% auto;
    width:60%;
    height:400px;
    border: 1px solid #73AD21;
    border-collapse: collapse;
}
tr{
    height:20%;
}
tr:hover{
    color: #5e9117;
}
th{
    text-align: center;
    font-size: 18px;
    font-family: Verdana;
    width:50%;
}

.Left{
    background-color: #73AD21;
    color:white;
}
